[Unit]
Description=Tmux yaft clients auto-refresh daemon

[Service]
ExecStart=/usr/bin/bash %h/.config/systemd/user/tmux-refresh-yaft-clients.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

