[Unit]
Description=Initialize tmux clients auto-refresh daemon

[Service]
Type=oneshot
ExecStart=/usr/bin/rm -rf %h/.tmux_tmp

[Install]
WantedBy=default.target

