# This is Git's per-user configuration file.
[user]
    name = ivanp7
    email = ivanp7.git@gmail.com
[core]
    editor = vim
    excludesfile = /home/ivanp7/.gitignore_global
    fileMode = false

[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool

