# This is Git's per-user configuration file.
[user]
    name = USERNAME
    email = USERNAME.git@gmail.com
[core]
    editor = vim
    excludesfile = /home/USERNAME/.gitignore_global
    fileMode = false

[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    d = difftool

