# This is Git's per-user configuration file.
[core]
    pager = less
    editor = vim
    excludesfile = ~/.gitignore_global

[diff]
    tool = vimdiff
[difftool]
    prompt = false
    trustExitCode = true
[alias]
    dif = difftool

[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    trustExitCode = true

