#!/bin/bash

alias fucking=sudo
alias fuck=sudo

alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias diff='diff --color=auto'

alias less='/usr/share/vim/vim81/macros/less.sh'
# alias less='less -Q'
alias man='man -P "less -Q"'

alias pwd_='printf "%q\n" "$(pwd)"'

alias tx='. ~/tmux.sh'

alias ssh='TERM=xterm-256color ssh'

alias rr=ranger
alias srr=sudo_ranger

alias todo='todo.sh -c'

alias fbpad='TERM=fbpad-256 fbpad'

